##################################################
# « sboosali »

gitignored/

##################################################
# Haskell

dist-newstyle/
dist/
.stack-work/

.ghc.environment.*
cabal.project.local
*.o
*.hi
*.chi
*.chs.h
report.html
.cabal-sandbox/
cabal.sandbox.config
cabal.config
.styx/
*.hp
*.prof
*.svg

*.ghcid
.ghcid.d/

##################################################
# nix

result-*/
result/

##################################################
# Emacs

*~
\#*
.\#*
\#*\#
,*
.*.swp
.*.swo
TAGS
.projectile

##################################################
# VSCode

.vscode/

##################################################
# OS X

.DS_Store

##################################################
# (miscellaneous)

*.save

#################################################
