# my
.sboo/
ignore/ 
temporary/

# project-specific
bin/skeletor-haskell

# Haskell
.ghc.environment.*
*.project.local
*.o
*.hi
*.chi
*.chs.h
report.html
.cabal-sandbox/
cabal.sandbox.config
cabal.config
dist-newstyle/
dist-*/
dist/
.stack-work/
.styx/

# ghcid
*.ghcid
.ghcid.d/

# nix
result-*/
result/
result

# Emacs
*~
\#*
.\#*
\#*\#
,*
.*.swp
.*.swo
.projectile
TAGS
tags
*_flymake.*

# OS X
.DS_Store

# miscellaneous
*.save
README.html
